body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #2c3e50;
    color: #ecf0f1;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto; /* Increased margin for better centering */
    padding: 20px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1 {
    color: #3498db;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; /* Changed to column for better spacing */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .labelinput {
    text-align: left; /* Adjusted alignment */
    margin-bottom: 5px; /* Added margin for better spacing */
    color: #bdc3c7;
  }
  
  .styled-input {
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    color: #ecf0f1;
    margin: 7px;
    background-color: #2c3e50;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .styled-input:focus {
    border-color: #2980b9;
    outline: none;
    background-color: #34495e;
    color: #bdc3c7;
  }
  
  .result {
    margin-top: 8px;
    color: #27ae60;
    font-weight: bold;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  

  label{
    font-size: 25px;
    margin: 3px;
    padding: 5px;
    font-family: initial;
    font-weight: bold;
    
  }